<div class="container">
  <form  [formGroup]="angForm" (ngSubmit)="onSubmit()"  novalidate>
        <div class="form-group">
            <label>Email:</label>
            <input class="form-control" formControlName="email" type="text">
        </div>
        <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['email'].errors.required">
              Email is required.
            </div>
        </div>
         <div class="form-group">
            <label>Password:</label>
            <input class="form-control" formControlName="password" type="text">
        </div>
        <div *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['password'].errors.required">
              Password is required.
            </div>
        </div>
        <button type="submit"
            [disabled]="angForm.pristine || angForm.invalid" class="btn btn-success">
            Guardar
        </button>
  </form>
  <br />
  <p>Form value: {{ angForm.value | json }}</p>
  <p>Form status: {{ angForm.status | json }}</p>
</div>

   <div class="row" *ngFor="let user of users">
		<div class="col-12 ">
					<header><h1>{{user.email}}</h1></header>
					<p>{{user.password}}</p>
					
				
		</div>
	</div>

